@import "variables.css";
@import "normalize.css";

/* Styles for general */
.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  font-family: var(--main-font);
  background: rgb(1, 47, 90);
  background: linear-gradient(
    270deg,
    rgba(1, 47, 90, 1) 12%,
    rgba(193, 212, 225, 1) 28%,
    rgba(193, 212, 225, 1) 72%,
    rgba(1, 47, 90, 1) 88%
  );
  color: var(--white);
  text-align: center;
}

/* Styles for card section */
.card__avatar {
  padding: 20px;
}
.card__box {
  width: 100%;
  margin: 0;
}
.card__btn {
  width: 140px;
  height: 26px;
  color: var(--white);
  background: var(--postDate);
  border-radius: 4px;
  border: none;
  margin-bottom: 15px;
}
.card__btn:hover {
  background-color: var(--red);
  transform: scale(1.1);
}
.card__btn:focus {
  outline: none;
}
.card__container {
  padding: 20px 10px;
  text-align: left;
}
.card__date {
  color: var(--postDate);
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 0;
  font-weight: bold;
}
.card__paragraph {
  padding: 10px 0;
  color: var(--paragraphColor);
  font-family: var(--second-font);
  font-size: 13px;
  margin-bottom: 8px;
  line-height: 22px;
  height: 72px;
  overflow: hidden;
}
.card__paragraph--show {
  height: auto;
}
.card__section {
  background-color: var(--white);
  width: 100%;
}
.card__title {
  font-family: var(--main-font);
  color: var(--postTitle);
  font-size: 25px;
  font-weight: normal;
  line-height: 28px;
}
.card__titleBox {
  margin: 20px 0 10px 20px;
}

/* Styles for footer section */
.footer {
  background: var(--bgColor);
  text-align: left;
}
.footer__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-content: center;
}
.footer__container {
  margin: 20px;
}
.footer__link {
  text-decoration: none;
  color: var(--paragraphColor);
}
.footer__paragraph,
.footer__special {
  color: var(--paragraphColor);
  font-family: var(--second-font);
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}
.footer__socials {
  padding-top: 20px;
}
.footer__special {
  font-weight: bold;
  color: var(--quoteColor);
}
.footer__title {
  font-family: var(--main-font);
  color: var(--white);
  font-size: 25px;
  font-weight: normal;
}

/* Styles for header section */
.header {
  height: auto;
  width: 100%;
  position: relative;
  padding: 0;
}
.header__banner {
  display: none;
}
.header__bannerBox {
  overflow: hidden;
}
.header__banner--active {
  display: inline-block;
  width: inherit;
}
.header__bottom {
  height: 150px;
  align-items: center;
  width: 100%;
}
.header__container {
  background-color: var(--bgColor);
  max-width: 960px;
  margin: auto;
}
.header__logo {
  width: 400px;
  height: auto;
  padding: 27px 34px;
}
.header__navigation {
  padding-bottom: 27px;
  padding-top: 54px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
.header__navLink {
  color: #ffffff;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px;
  padding-right: 18px;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
  background-color: var(--bgColor);
}
.header__navLink:hover {
  text-decoration: none;
  color: var(--white);
  transform: scale(1.3);
}
.header__navLink:focus {
  outline: none;
}
.header__search {
  width: 125px;
  height: 19px;
  color: #8a8a8a;
  font-family: var(--second-font);
  font-size: 10px;
  border-radius: 16px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.35);
  border: none;
  padding-left: 24px;
  position: relative;
}
.header__searchBox {
  position: absolute;
  top: 20px;
  right: 19px;
}
.header__search--ico,
.header__search--ico:focus {
  width: 28px;
  height: 28px;
  outline: none;
  background: none;
  position: absolute;
  left: -2px;
  top: -1px;
  border: none;
}
.header__quotes {
  color: var(--quoteColor);
  font-family: var(--main-font);
  text-align: left;
  font-size: 30px;
  margin-left: 34px;
}

.hamburger {
  display: none;
}

/* Styles for news section */
.news {
  padding: 20px;
  background: rgb(233, 233, 233);
  background: linear-gradient(
    180deg,
    rgba(233, 233, 233, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
}
.news__box {
  padding: 5px;
  padding-bottom: 20px;
}
.news__paragraph {
  color: var(--paragraphColor);
  font-family: var(--second-font);
  font-size: 13px;
  margin-bottom: 4px;
}
.news__paragraph--link,
a {
  text-decoration: none;
  color: var(--postDate);
}
.news__title {
  font-family: var(--main-font);
  color: var(--postTitle);
  font-size: 25px;
  font-weight: normal;
}

/* Styles for sponsors section */
.sponsors {
  background: var(--white);
  padding: 0;
  width: 100%;
}

/* Styles for socials section */
.socials {
  width: 100%;
}

/* Media Queries section */
@media screen and (max-width: 1200px) {
  .header__logo {
    padding-top: 20px;
    margin-bottom: 34px;
  }
  .header__navigation {
    padding-bottom: 27px;
    padding-top: 72px;
    position: absolute;
  }
  .header__navLink{
  padding-right: 10px;
  }
  .header__quotes {
    text-align: center;
  }
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .card__btn {
    margin-top: 10px;
  }
  .card__container {
    text-align: center;
    padding: 8px 5px;
    margin: 0 auto;
    min-width: 100%;
  }
  .card__section {
    text-align: center;
  }
  .header__logo {
    padding-top: 60px;
    margin: 0;
  }
  .header__navigation {
    padding-bottom: 27px;
    padding-top: 0;
    position: initial;
    display: block;
  }
  .header__quotes {
    font-size: 18px;
    margin-left: 18px;
  }
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  body {
    width: fit-content;
    background-color: red;
  }
  .card__box {
    flex-direction: column;
  }
  .card__box .col-8 {
    width: 100%;
  }
  .card__box .col-4 {
    width: 100%;
  }
  .footer__container {
    text-align: center;
  }
  .footer__main {
    flex-direction: column;
  }
  .footer__main .col-6 {
    width: 100%;
  }
  .header__bottom {
    padding: 10px 0;
    flex-direction: column;
  }
  .header__bottom .col-8 {
    width: 100%;
    text-align: center;
  }
  .header__logo {
    padding-top: 10px;
  }
  .header__navigation {
    display: none;
  }
  .navigation--active {
    display: flex;
    flex-direction: column;
  }

  .hamburger,
  .hamburger:focus {
    display: inline-block;
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    text-align: left;
  }
  .hamburger__box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  .hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s 0.2s erase-in-out;
  }
  .hamburger__inner::before,
  .hamburger__inner::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--white);
    position: absolute;
    left: 0;
    transition: transform 0.3s 0.2s erase-in-out;
  }
  .hamburger__inner::before {
    top: -10px;
  }
  .hamburger__inner::after {
    top: 10px;
  }
  .hamburger--active .hamburger__inner {
    background-color: transparent;
  }
  .hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }
  .hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
  }
}
