@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;700&family=EB+Garamond:wght@400;500;600&display=swap');
 :root {
/* Fonts */
--main-font: 'Cormorant Garamond', serif;
--second-font: 'EB Garamond', serif;
/* Colors */
--bgColor: #111213;
--quoteColor: #A3A3A3;
--paragraphColor: #6F6E6E;
--white: #FFF;
--postTitle: #303030;
--postDate: #2C83B0;
--sponsorsTitle: #111213;
--red: #c0392b;
/* Media Queries */
--desktop: 1200px;
--tablet: 768px;
--mobile: 375px;
 }